* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.appearAnimation {
  animation: meals-appear 1s ease-out forwards;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainWrapper {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}
.wrapper {
  margin-top: 20px;
  width: 40%;
  height: 80%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 0px;
}
.wrapper::-webkit-scrollbar {
  visibility: hidden;
}
.orders {
  width: 60%;
}
.payment {
  margin-top: 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;align-items: center;
}
.orderSection {
  margin: 10px;
  display: flex;
  gap: 10%;
  align-items: center;
  
}
.cart {
  text-decoration: none;
  color: #fff;
}
.btn {
  margin-top: 10px;
  background-color: rgb(183, 113, 248);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: white;
  transition: 1s ;
}
.btn:hover {
  transform: scale(1.1);
}

.loginWrapper {
  display: flex;
  /* background: #570a57; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.formWrapper {
  background: #2e0249;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  max-width: 90%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}
.inputBox:focus {
  border: 1.7px solid #f053be;
}
.btn {
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.loginBtn,.signUpBtn {
  background: #f806cc;
  width: 100px;
  margin-left: auto;
}
.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}
.createNewBtn {
  color: #f806cc;
  text-decoration: none;
  border-bottom: 1px solid #f806cc;
  transition: all 0.3s ease-in-out;
}